{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}

<div class="row mt-5">
    <div class="col-lg-7 col-sm-12 p-3">
        <img src="{{url_for('static', filename='img/' + blindbox.image)}}" class="w-100 img-fluid" alt="..." />
    </div>
    <div class="col-lg-5 col-sm-12 p-3">
        <div class="item-title pb-2 border-bottom">
            <h4 class="item-name">{{blindbox.name}}</h4>
            <h5 class="item-price d-inline">{{"$%.2f"|format(blindbox.price)}}</h5><span> per box</span>
        </div>
        <div class="add-to-basket p-3 border-bottom">
            <h6>Quantity</h6>
            <form class="form-inline" action="{{url_for('main.order')}}">
                <div class="input-group">
                    <input type="hidden" name="blindbox_id" value="{{blindbox.id}}">
                    <input type="number" min="1" value="1" name="quantity" class="text-center form-control mr-3">
                    <button href="#" class="btn btn-custom" type="submit">
                        Add to Basket <i class="bi bi-cart-plus-fill"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="item-detail p-3">
            <h6>Details</h6>
            <p>Series: <a href="{{url_for('main.series', series_id=blindbox.series_id)}}"
                    class="series-link">{{series_name}}</a></p>
            <p>Brand: {{blindbox.brand}}</p>
            <p>Material: <span class="material">{{blindbox.material}}</span></p>
            <p>Size: Height about <span class="height">{{blindbox.size}}</span></p>
            <p>Description: <span class="description">{{blindbox.description}}</span></p>
            <div class="accordion border-0" id="accordionExample">
                <div class="card my-4 border-custom">
                    <div class="card-header py-1 px-2 btn-link-custom d-flex justify-content-between align-items-center"
                        id="headingOne">
                        <h6 class="mb-0">
                            <button class="btn btn-link-custom stretched-link btn-block text-left" type="button"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                What's a blind box?
                            </button>
                        </h6>
                        <i class="bi bi-question-circle"></i>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>"Blind box" is a type of toy that keeps what's inside a mystery until you open it.
                            </p>
                            <p>Each purchase gets you a random figure from this set of
                                <span class="set-quantity">{{blindbox.set_quantity}}</span> different ones.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}